{% extends 'templates/base.html' %}
{% block base %}

<div class="container_alta">
  <div class="separador"></div>
  <a type="submit" class="btn btn-dark text-center " href="/admin/alta">Añadir Producto</a>
  <div class="separador"></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">URL Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Descuento</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
  {% for producto in productos %}

    <tbody>
      <tr>
        <th scope="row">{{producto.id_producto}}</th>
        <td>{{producto.url_foto}}</td>
        <td>{{producto.nombre_producto}}</td>
        <td>${{producto.precio}}</td>
        <td>{{producto.descuento}} %</td>
        <td>{{producto.stock}}</td>
        <td>
          <form action="/admin/modificacion" method="POST">
            <button type="submit"><i class="fas fa-pencil-alt"></i></button>        
            <input type="hidden" name="id_producto" value="{{producto.id_producto}}">
          </form>
        </td>
        <td>
           <form action="/admin/baja" method="POST">
               <button type="submit"><i class="fas fa-trash-alt"></i></button>
               <input type="hidden" name="id_producto" value="{{producto.id_producto}}">
           </form>
        </td>
      </tr>
    </tbody>

  {% endfor %}
</table>
</div>

{% endblock base %}