{% extends  'templates/base.html' %}
{% block base %}

              
        <!-- Section-->
        <section class="py-5">    
            
            <div class="container px-4 px-lg-5 mt-5">

                <h2 class="text-center pb-5">Tu Pedido</h2>
                <div class="row gx-4 gx-lg-5 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        
                    {% include  'templates/producto.html' %}
                    {% block producto%}
                    {% endblock producto%}            

                </div>      

                {% if (session["carrito"] is defined and session["carrito"]|length != 0 ) %}
                    
                <h4 class="text-center">Total: {{total}}</h4> 

                    {% if (session["user"] is defined and session["user"] != None) %}
                <form class="d-flex justify-content-center container col-6" action="/Pedido" method="POST">
                    <input type="hidden" name="id_cliente" value="{{session["user"]["id_cliente"]}}">
                   <button type="submit" class="btn btn-dark text-center mt-3">Realizar Pedido</button>
                </form>
                    {% else %}
                <h4 class="text-center mt-5">Debes iniciar sesion para realizar el pedido</4>
                 <div class="d-flex justify-content-center container col-6 mt-2">
                   <a class="btn btn-dark text-center mt-3" href="/login">Iniciar Sesion</a>
                </div>
                    {%endif%}

                {% else %}
                
                <h4 class="text-center">Oops! no has agregado ningun plato a tu Pedido</4>
                 <div class="d-flex justify-content-center container col-6 mt-2">
                   <a class="btn btn-dark text-center mt-3" href="/">Volver al menu</a>
                </div>

                {% endif %}
            </div>      
        </section>

{% endblock base %}