{% extends  'templates/base.html' %}
{% block base %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5 ">
            <div class="d-grid justify-content-center text-center">

                {% if pedidoExists%}

                <h2>Pedido Realizado</h2>
                <h3>Nro de Seguimiento: {{pedido.id_pedido}}</h3>
                <h3>Estado de tu pedido: {{estado.descripcion}}</h3>
                <h4 class="mt-5">Detalle</h4>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Plato</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                        {%for productoVista in productosVista%}
                            {% set producto = productoVista["producto"] %}
                            {% set cantidad = productoVista["cantidad"] %}
                            {% set subtotal = productoVista["subtotal"] %}

                            <tr>
                                <td>{{producto.nombre_producto}}</td>
                                <td>{{cantidad}}</td>
                                <td>${{subtotal}}</td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <h4 class="mt-5">Total: ${{total}}</h4>

                {% else %}
                <h2>Lo sentimos, el numero de Pedido ingresado no existe...</h2>
                <a type="submit" class="btn btn-primary text-center mt-5 mb-5 col-3" max-width="100px" href="/">Volver al menu</a>
                {% endif %}

            </div>                
        </div>      
    </section>

{% endblock base %}